<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>

        <title>All Logs</title>
    </head>
    <body>
        <main class="">
            <h1>View all Logs!!!</h1>
        </main>

        <%- include("../partials/footer") %>
    </body>
</html>
