<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>

        <title>A Log</title>
    </head>
    <body>
        <main class="">
            <h1>Here are details on the log!!!</h1>
        </main>

        <%- include("../partials/footer") %>
    </body>
</html>
